$tf/
[Oo]bj/
*.orig
_ReSharper*
*.user
*.suo
StyleCop.Cache/
**/bin/[Dd]ebug/
**/bin/[Rr]elease/
**/bin/[Dd]evelopment/
**/bin/[Tt]esting/
*.Presentation/bin/
License.config
SiteGlobalFiles/
Data/cms/Index/
Data/cms/cms.zip
Data/cms/TransformedImages/
Data/cms/blobs/
Data/cms/Feed/*.xml
BW.Offshore.Presentation/Public/Scripts/ajax/FileUploaderUnit.min.js
BW.Offshore.Presentation/EPiServerCommunity/Modules/ImageGallery/Thumbnails/
*!Backup*
*.min.*
packages_Copy/
_packages/
packages/*
!packages/repositories.config
!packages\CoreKit.EpiServer.ContentUnits*
!packages\Creuna.*
Data.zip
